backend/.vs/HamburgerShop/xs/UserPrefs.xml
backend/.vs/HamburgerShop/xs/project-cache/HamburgerShop-Debug.json
backend/HamburgerShop/Properties/launchSettings.json
backend/HamburgerShop/obj/Debug/netcoreapp3.1/HamburgerShop.csprojAssemblyReference.cache
backend/HamburgerShop/obj/HamburgerShop.csproj.nuget.dgspec.json
backend/HamburgerShop/obj/HamburgerShop.csproj.nuget.g.props
backend/HamburgerShop/obj/HamburgerShop.csproj.nuget.g.targets
backend/HamburgerShop/obj/netcoreapp3.1/HamburgerShop.csprojAssemblyReference.cache
backend/HamburgerShop/obj/project.assets.json
backend/HamburgerShop/obj/project.nuget.cache
